/* @override http://localhost:4000/assets/stylesheets/skin-clean.css */

/* MAIN BG*/
body, 
h2.title span, 
ul.tabs li a.active{ 
	background: #fdfdfd;
	background: rgba(246,246,246,0.5) ;
	background: white ;
	position: relative;
	z-index: 1;
} 

body:after, 
/* h2.title span:after, */
ul.tabs li a.active:after{  
	content: "";
	background: white;
	position:absolute; 
	z-index:99; 
	left:0; 
	bottom:0; 
	right:0;
	height: 100%;
	width: 100%;
	z-index: -1;
	}
	
.main-header {
	height:  72px;
}

#content {
	margin-top: 12px;
}

/* FOOTER */
#section-tophat{
	border-bottom: 2px solid #ddd;
	background: #333;
}

#section-tophat:after, #section-footer:after{
	content: "";
	background: #333;
}

#logo img {
  margin-top: 10px;
	width: 188px;
	height: 50px;
}

/* SUBFOOTER */
#section-sub-footer{
	background: black;
}

#section-sub-footer:after {
	content: "";
	background: black;
}

li div.slide {
	background: #f6f6f6;
	height: 357px;
	border: 1px solid #5e5e5e;
	padding: 12px;
}

.header-advert {
	bottom: 8px;
	right:  0px;
	position: absolute;
}
.main-header nav {
	height: 72px;
	  margin-bottom: 0px;
	bottom: 4px;
	position: relative;
}
.header-advert .button {
	  margin-bottom: 0px;
}

#SubscribeForm fieldset input, #SubscribeForm fieldset span {
	display: inline;
}
