---
layout: default
single: true
---

<!-- Super Container -->
<div class="super-container full-width">

  <!-- 960 Container -->
  <div class="container">
    
    <!-- CONTENT -->
    <div class="eleven columns content">
      
      
      <!-- ENTRY COLUMN -->
      <div id="entry">       
          
        
        <!-- THE_CONTENT -->  
        <article role="article" class="the_content" class="post type-post entry single"> 
          {% include article.html %} 
               

        </article>
        <!-- /THE_CONTENT -->
        
        <br />
        <hr />  
         
          <footer>
            <p class="meta meta-space">
              {% include post/author.html %}
              {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
              {% include post/categories.html %}
            </p>
            {% unless page.sharing == false %}
              {% include post/sharing.html %}
            {% endunless %}
            <p class="meta meta-space">
              {% if page.previous.url %}
                <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
              {% endif %}
              {% if page.next.url %}
                <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
              {% endif %}
            </p>
            <div class="meta-space">          
              <div class="tags clearfix">
                <img src="{{ root_url }}/assets/images/theme/tag.png" class="tag_icon" />
                <a href="#" rel="tag" class="button yellow">Premium Theme</a> 
                <a href="#" rel="tag" class="button yellow">Image Gallery</a> 
                <a href="#" rel="tag" class="button yellow">Responsive</a> 
                <a href="#" rel="tag" class="button yellow">960</a> 
                <a href="#" rel="tag" class="button yellow">Mobile</a>            
              </div>        
            </div> 
          </footer>
        
        <br />
        <hr />
          

        <!-- COMMENTS SECTION -->
        {% if site.disqus_short_name and page.comments == true %}
        <section>
          <h1>Comments</h1>
          <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
        {% endif %}
        
      
      </div>  
      <!-- /#ENTRY COLUMN -->   
      
            
    </div>  
    <!-- /CONTENT -->
    
    <!-- ============================================== -->
    
    <!-- SIDEBAR -->
    {% unless page.sidebar == false %}
    <aside class="five columns sidebar">
      
      {% if site.post_asides.size %}
        {% include_array post_asides %}
      {% else %}
        {% include_array default_asides %}
      {% endif %}
        
    </aside>
    {% endunless %}
    <!-- /SIDEBAR -->
    
  </div>
  <!-- /End 960 Container -->
    
</div>
<!-- /End Super Container -->