{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}


  <!-- JS
  ================================================== -->
  
  
  <script src="{{ root_url }}/assets/javascripts/jquery-1.6.2.min.js"></script>
  <script src="{{ root_url }}/assets/javascripts/tabs.js"></script>  
  
  <script src="{{ root_url }}/assets/javascripts/jquery.tipsy.js"></script>
  <script src="{{ root_url }}/assets/javascripts/jquery.prettyPhoto.js"></script>  
  <script src="{{ root_url }}/assets/javascripts/jquery.hoverIntent.js"></script>    
  <script src="{{ root_url }}/assets/javascripts/superfish.js"></script>
  <script src="{{ root_url }}/assets/javascripts/supersubs.js"></script>
  <script src="{{ root_url }}/assets/javascripts/chosen/chosen.jquery.js"></script>
  <script src="{{ root_url }}/assets/javascripts/jquery.flexslider-min.js"></script> 
  <script src="{{ root_url }}/assets/javascripts/filterable.pack.js"></script>
  <script src="{{ root_url }}/assets/javascripts/skeleton-key.js"></script>
  <script src="{{ root_url }}/assets/javascripts/peekaboo.js"></script>
  
  
