
<!-- Header -->
<div class="main-header clearfix super-container full-width ">
  <div class="container"> <!-- 960grid -->
    <hgroup class="six columns alpha">
      <a class="browse" href="#"><h1 id="logo"><img src="{{ root_url }}/assets/images/theme/neo4j-logo/header-logo.png" alt="logo"/></h1></a>
    </hgroup>
    
    <nav class="ten columns omega">
      <div class="header-advert">
        <p><strong>Neo4j {{ site.latest_version }}</strong></p>
        <a href="{{ site.latest_readme }}" id="readme" class="button yellow">Read Me</a>
        <a href="{{ root_url }}/download" id="download" class="button green">Download</a>
      </div>
    </nav>  
  </div>
</div>
    
<div class="browse-menu clearfix super-container full-width hidden-if-js">

    <div class="container">
      <div class="two columns">
        <h2><a href="{{ root_url }}/"><strong>Start</strong> <span>Your Path</span></a></h2>
      </div>
      <div class="fourteen columns clearfix">
      <ul>
        <li><a href="{{ root_url }}/about">About Neo4j</a></li>
        <li><a href="http://console.neo4j.org">Try Live</a></li>
        <li><a href="{{ root_url }}/download/">Download</a></li>
      </ul>
      </div>
    </div>
    
    <div class="container">
      <div class="two columns">
        <h2><a href="{{ root_url }}/learn/"><strong>Learn</strong> <span>What, Why, How</span></a></h2>
      </div>
      <div class="fourteen columns">
      <ul>
        <li><a href="{{ root_url }}/blog/">Blog</a></li>
        <li><a href="http://video.neo4j.org">Videos</a></li>
          <li><a href="{{ root_url }}/gallery/">Gallery</a></li>
        <li><a href="http://docs.neo4j.org/">Neo4j Manual</a></li>
      </ul>
      </div>
    </div>
    
    <div class="container">
      <div class="two columns">
        <h2><a href="{{ root_url }}/create/"><strong>Create</strong> <span>Any Application</span></a></h2>
      </div>
      <div class="fourteen columns">
      <ul>
        <li><a href="{{ root_url }}/languages/">Languages</a></li>
        <li><a href="{{ root_url }}/spring/">Spring Data</a></li>
        <li><a href="{{ root_url }}/cloud/">Cloud</a></li>
      </ul>           
    </div>
  </div>
  
  <div class="container">
    <div class="two columns">
    <h2><a href="{{ root_url }}/participate/"><strong>Participate</strong> <span>In Community</span></a></h2>
    </div>
    <div class="fourteen columns">
      <ul>
        <li><a href="http://groups.google.com/group/neo4j/">Google Group</a></li>
        <li><a href="http://stackoverflow.com/questions/tagged/neo4j">Stack Overflow</a></li>
        <li><a href="http://neo4j.meetup.com/">Meetups</a></li>
        <li><a href="http://github.com/neo4j/">Git Hub</a></li>
      </ul>
    </div>
  </div>
  
</div>  
