<!-- Ported from Super Skeleton -->

  <!--[if lt IE 9]>  
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
    
  <!-- Fonts from typekit
    ================================================== -->
  <script type="text/javascript" src="http://use.typekit.com/jxu6gip.js"></script>
<!--  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->
  
  <!-- CSS
    ================================================== -->
  <link rel="stylesheet" href="{{ root_url }}/assets/stylesheets/styles.css" />
  <link type="text/css" rel="stylesheet" id="skin" href="{{ root_url }}/assets/stylesheets/skin-clean.css" />
  <link type="text/css" rel="stylesheet" id="type" href="{{ root_url }}/assets/stylesheets/typography.css" />
  <link type="text/css" rel="stylesheet" id="type" href="{{ root_url }}/assets/stylesheets/peekaboo.css" />
  
  
  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ root_url }}/assets/images/favicon.png" />
  <link rel="apple-touch-icon" href="{{ root_url }}/assets/images/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="{{ root_url }}/assets/images/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="{{ root_url }}/assets/images/apple-touch-icon-114x114.png" />
<!-- Favicons
================================================== -->
<link rel="shortcut icon" href="images/favicon.png">
<link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
